@model List<Brand>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Brands:</h1>
    <ul>
        @foreach (var item in Model)
        {
         <li>@item.Name</li>   
        }
    </ul>
</body>
</html>
